@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

    .oreo-cntndr {
        width: 400px;
        height: 468px;
        margin: 20px auto;
        background-image: url(https://i.imgur.com/SXYkXhw.png);
        background-size: cover;
        position: relative;
        font-size: 12px;
        font-family: 'Roboto', sans-serif;
        line-height: 15px;
        color: var(--letra);
    }

    .oreo-cntndr br {
        display: none;
    }

    .blue    {background-image: url(https://i.imgur.com/kCA5Odg.png);}
    .blueosc {background-image: url(https://i.imgur.com/f57P5hP.png);}
    .cyan    {background-image: url(https://i.imgur.com/w2YoERE.png);}
    .fucsia  {background-image: url(https://i.imgur.com/SqRZWpu.png);}
    .green   {background-image: url(https://i.imgur.com/pWZ3AZD.png);}
    .grey    {background-image: url(https://i.imgur.com/7fagpKp.png);}
    .orange  {background-image: url(https://i.imgur.com/kvn2g6H.png);}
    .purple  {background-image: url(https://i.imgur.com/tY6rQXV.png);}
    .red     {background-image: url(https://i.imgur.com/gBEFFmd.png);}
    .rose    {background-image: url(https://i.imgur.com/FCHNwGN.png);}
    .yellow  {background-image: url(https://i.imgur.com/5r4Wjhk.png);}

    .oreo-bss {
        --w: 335px;
        --h: 322px;
        --w2: calc(var(--w) / 2);
        --h2: calc(var(--h) / 2);
        width: var(--w);
        height: var(--h);
        padding: 0 10px 40px 0;
        box-sizing: border-box;
        border-radius: 18px;
        background-size: cover;
        background-position: center;
        position: absolute;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        top: calc(47% - var(--h2));
        left: calc(50.3% - var(--w2));
        mask-image: url(https://i.imgur.com/3LoTCw8.png);
        mask-size: cover;
        -webkit-mask-image: url(https://i.imgur.com/3LoTCw8.png);
        -webkit-mask-size: cover;
    }

    .oreo-dtts {
        width: 41%;
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        gap: 10px;
    }

    .oreo-dtts span {
        padding: 8px 16px;
        border-radius: 8px;
        background-color: var(--color2);
        backdrop-filter: blur(1px);
        text-align: center;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(2px);
    }

    .oreo-dtts span br {
        display: initial;
    }

    .oreo-dtts span:nth-of-type(1) {
        font-size: 22px;
        padding: 10px 18px;
        width: 100%;
        font-weight: bold;
    }

    .oreo-dtts span i{
        font-size: 23px;
        padding-bottom: 5px;
    }

    .oreo-cntndr > a {
        position: absolute;
        top: 30px;
        right: -35px;
        text-align: center;
        --crdt: #fff;
        color: var(--crdt);
        text-decoration: none;
        text-transform: uppercase;
        transform: rotate(90deg);
    }


    .oreo-cntndr.blue    > a {--crdt: hsl(203, 88%, 30%);}
    .oreo-cntndr.blueosc > a {--crdt: hsl(215, 88%, 30%);}
    .oreo-cntndr.cyan    > a {--crdt: hsl(175, 88%, 30%);}
    .oreo-cntndr.fucsia  > a {--crdt: hsl(302, 88%, 30%);}
    .oreo-cntndr.green   > a {--crdt: hsl(105, 88%, 30%);}
    .oreo-cntndr.grey    > a {--crdt: hsl(0,   0%,  30%);}
    .oreo-cntndr.orange  > a {--crdt: hsl(30,  88%, 30%);}
    .oreo-cntndr.purple  > a {--crdt: hsl(271, 88%, 30%);}
    .oreo-cntndr.red     > a {--crdt: hsl(0,   88%, 30%);}
    .oreo-cntndr.rose    > a {--crdt: hsl(324, 88%, 30%);}
    .oreo-cntndr.yellow  > a {--crdt: hsl(60,  88%, 30%);}
